#money-container, #numbers-container, #display-container {
    display: block;
    position: relative;
    min-height: 400px;
    border-radius: 7px;
    margin: auto;
    background: linear-gradient(90deg, #f5ab0b, #f07a0c);
}

.grid-header {
    color: white;
    padding: 10px 0 10px 0;
    border-bottom: 3px solid white;
}

.number-row {
    margin-top: 10px;
    text-align: center;
}

.pills, .pills-disabled, #amount-display {
    border-radius: 7px;
    width: auto;
    padding: 10px;
    height: 50px;
    color: white;
    margin: 10px;
}

.pills, .pills-disabled {
    background-color: #383838;
}

#amount-display, #amount-disabled {
    background: linear-gradient(-60deg, #55c9ff, #67ee6d);
    text-align: left;
}

#amount-disabled {
    display: none;
}

sup {
    font-weight: bolder;
    color: #383838;
}